html{
    font-size: 11px;
}

h2 {
    color: blue;
}
.p1 {
    text-decoration: line-through; 
    /* font-style: italic; */
    font-family: 'Rubik Burned', system-ui;
    font-size: 22px;
    
}

.p2 {
    font-size: 22px;
}

span{
    font-size: 1rem; /*  em   ? times to the containing element
                        rem   ? times to the root element, root element is html element */
}