.container{
    margin: auto;
    margin-top: 240px;
    width: 520px;
    background-color: red;
}

.tag-list{
    padding: 20px;
    width: 30rem;
    font-family: "Montserrat";
    position: relative;
    overflow: hidden;
    /* border-radius: 60px; */
}

.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 5s linear infinite;
}

.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    font-size: 0.9rem;
    color: #e2e8f0;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    /* box-shadow: 
        0 0.1rem 0.2rem #00000033,
        0 0.1rem 0.5rem #0000004d,
        0 0.2rem 1.5rem #00000066; */
}

.tag span{
    font-size: 1.2rem;
    color:#64748b;
}

.fade{
    position: absolute;
    background: linear-gradient(90deg
    #1e293b, transparent 30%,
    transparent 70%, #1e293b);
    inset: 0;
    pointer-events: none;
}

@keyframes loop{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50%);
    }
}